<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Edit Sales Return</title>
</head>
<body>
<section layout:fragment="body">
    <article class="edit-page">
        <a href="/sales-returns" class="back-btn">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        
        <div class="list-header">
            <h1>🔄 Edit Sales Return</h1>
        </div>

        <!-- Edit Sales Return Form -->
        <form th:action="@{/sales-returns/update/{id}(id=${salesReturn.id})}" th:object="${salesReturn}" class="list-form-layout" method="post">
            <div class="list-form">
                <div class="form-group">
                    <label for="invNum">Invoice No.:</label>
                    <input type="text" id="invNum" th:field="*{invNum}" />
                    <p class="error-message" th:if="${#fields.hasErrors('invNum')}" th:errors="*{invNum}"></p>
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                    <select id="reason" th:field="*{reason}">
                        <option value="">Select Reason</option>
                        <option value="Defective">Defective</option>
                        <option value="Wrong Item">Wrong Item</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="error-message" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
                </div>
                <div class="form-group">
                    <label for="saleRDateTime">Date:</label>
                    <input type="date" id="saleRDateTime" th:field="*{saleRDateTime}" />
                    <p class="error-message" th:if="${#fields.hasErrors('saleRDateTime')}" th:errors="*{saleRDateTime}"></p>
                </div>
            </div>
            <div class="form-group-btn">
                <button type="submit">Update</button>
            </div>
        </form>
    </article>
</section>
</body>
</html>