<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <title>Edit Unit</title>
</head>
<body>
<section layout:fragment="body">
    <article class="edit-page">
        <a href="/units" class="back-btn">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        
        <div class="list-header">
            <h1>👤 Edit Unit</h1>
        </div>

        <!-- Edit Unit Form -->
        <form th:action="@{/units/update/{id}(id=${unit.id})}" th:object="${unit}" class="list-form-layout" method="post">
            <div class="list-form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" th:field="*{name}" />
                    <p class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
            </div>
            <div class="form-group-btn">
                <button type="submit">Update</button>
            </div>
        </form>
    </article>
</section>
</body>
</html>