<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    lang="en">
<head>
    <title>Update Purchase History</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="edit-page">
            <a href="/products/purchases" class="back-btn">
                <i class="fa fa-arrow-left"></i> Back
            </a>

            <div class="list-header">
                <h1 th:text="'📦 Update ' + ${lowStockDto.name}"></h1>
            </div>

            <form role="form" th:action="@{/products/purchases/update/{id}(id=${lowStockDto.id})}" class="list-form-layout" th:object="${lowStockDto}" method="post">
                <div class="list-form">
                    <input type="hidden" id="name" th:field="*{name}" />
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" id="price" th:field="*{price}" />
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost of Good:</label>
                        <input type="number" id="cost" th:field="*{cost}" />
                    </div>
                    <div class="form-group">
                        <label for="nafdac">NAFDAC:</label>
                        <input type="text" id="nafdac" th:field="*{nafdac}" />
                    </div>
                    <div class="form-group">
                        <label for="expiryDate">Expiry Date:</label>
                        <input type="text" id="expiryDate" th:field="*{expiryDate}" />
                    </div>
                    <div class="form-group">
                        <label for="lowStockDate">Entry Date:</label>
                        <input type="text" id="lowStockDate" th:field="*{lowStockDate}" />
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" th:field="*{quantity}" />
                        <p class='error-message' th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Update</button>
                </div>
            </form>
        </article>
    </section>
</body>
</html>